AuthName "Senorsen's protected zone"
Authtype Basic
AuthUserFile /home/prj/tbs/pwdfile
require user test
RewriteRule ^pwdfile / [F]
RewriteEngine On

# RewriteRule ^.*$ log.txt
RewriteRule ^log-(.+)$ log.php?get=$1
RewriteRule ^tbcache.serialize$ / [F]
