AuthName "Senorsen's protected zone"
Authtype Basic
AuthUserFile /home/prj/tbsexec/.htpasswd
Require valid-user

RewriteEngine On
# RewriteRule ^.*$ log.txt
RewriteRule ^log-(.+)$ log.php?get=$1
RewriteRule ^tbcache.serialize$ / [F]
RewriteRule ^cache/.*$ / [F]
